API_PROJECT_URL=https://hackatime.hackclub.com/api/v1/users/%s/project/%s
API_PROJECT_NAMES_URL=https://hackatime.hackclub.com/api/v1/users/%s/projects
API_PROJECT_DETAILS_URL=https://hackatime.hackclub.com/api/v1/users/%s/projects/details
API_USER_STATS_URL=https://hackatime.hackclub.com/api/v1/users/%s/stats
API_TRUST_FACTOR_URL=https://hackatime.hackclub.com/api/v1/users/%s/trust_factor
API_HEARTBEAT_URL=https://hackatime.hackclub.com/api/v1/users/%s/heartbeats/spans?project=%s
API_ALL_HEARTBEAT_URL=https://hackatime.hackclub.com/api/v1/users/%s/heartbeats/spans