API_PROJECT_URL=https://hackatime.hackclub.com/api/v1/users/%s/project/%s
API_PROJECT_NAMES_URL=https://hackatime.hackclub.com/api/v1/users/%s/projects
API_PROJECT_DETAILS_URL=https://hackatime.hackclub.com/api/v1/users/%s/projects/details
API_USER_STATS_URL=https://hackatime.hackclub.com/api/v1/users/%s/stats
API_USER_SUMMARY_URL=https://hackatime.hackclub.com/api/summary?user_id=%s
API_TRUST_FACTOR_URL=https://hackatime.hackclub.com/api/v1/users/%s/trust_factor
API_HEARTBEAT_URL=https://hackatime.hackclub.com/api/v1/users/%s/heartbeats/spans?project=%s
API_ALL_HEARTBEAT_URL=https://hackatime.hackclub.com/api/v1/users/%s/heartbeats/spans
API_BANNED_USERS_URL=https://hackatime.hackclub.com/api/v1/banned_users/counts
API_LEADERBOARD_DAILY_URL=https://hackatime.hackclub.com/api/v1/leaderboard/daily
API_LEADERBOARD_WEEKLY_URL=https://hackatime.hackclub.com/api/v1/leaderboard/weekly
API_ACTIVE_URL=https://hackatime.hackclub.com/api/v1/currently_hacking

PUBLIC_FLAG_API_URL=https://flagcdn.com/%s.svg
PUBLIC_FLAG_API_CODES_URL=https://flagcdn.com/en/codes.json
